# {{ ansible_managed }}

net:
  bindIp: 0.0.0.0
  ipv6: false
  maxIncomingConnections: 65536
  port: "{{ MONGO_NET_PORT }}"

{% if authorization is defined and authorization %}
replication:
  oplogSizeMB: 1024
  replSetName: mongos

security:
  authorization: enabled
  keyFile: "{{ DATA_PATH }}/mongo/mongodb-keyfile"
  javascriptEnabled: false

{% else %}

security:
  authorization: disabled
{% endif %}

storage:
  dbPath: {{ DATA_PATH }}/mongo/data
  directoryPerDB: true
  engine: wiredTiger
  journal:
    enabled: true
  wiredTiger:
    engineConfig:
      directoryForIndexes: false

systemLog:
  destination: {{ MONGO_SYSYTEMLOG_DESTIANTION }}
  {% if MONGO_SYSYTEMLOG_DESTIANTION == 'file' -%}
  logAppend: true
  logRotate: "rename"
  path: {{ DATA_PATH }}/mongo/log/mongo.log
  {%- endif %}

